
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    /* #9904f8 */
}
.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pizzas{
    text-align: center;
    width: 50%;
    padding: 20px;
    background: #eee;

} 
input[type = text],select{
    display: block;
    padding: 8px 12px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}
form{
    text-align: left;
}
fieldset input{
    margin-left: 20px;
}
button, input[type = submit]{
    background: #9904f8;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 20px;
    margin-left: 0;
    cursor: pointer;
}
body a{
    color: #9904f8;
}
fieldset{
    display: flex;
    justify-content: start;
    padding: 20px;
    margin-top: 20px;

}

footer{
    background-color: #eee;
    color: gray;
    text-align: center;
    margin: 0;
    padding: 20px;
}     
.pizzas img{
    width: 100%;
}
.details{
    text-align: left;
}
.pizzas h1{
    letter-spacing: 15px;
    color: #9904f8;
    border-bottom: 3px solid #9904f8;
    width: 100%;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase

}
.pizza-item img{
    width: 60px;
    margin-right: 20px;
}

.pizza-item{
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
    align-items: center;
    padding: 10px;
    background: #eee;
}
.pizza-item a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
